<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
<div class="right_con">
    <ul class="notice notice_list_wrap" id="mytable2_right">
        <li class="notice_list_item clearfix">
            <span class="login_time">최초로그인시간</span>
            <span class="logout_time">최초로그아웃시간</span>
            <span class="logtotal_time">총 시청시간</span>
            <span class="session_time">session_0 입장</span>
            <span class="session_time">session_0 퇴장</span>
            <span class="total_time">시간</span>
            <span class="session_time">session_1 입장</span>
            <span class="session_time">session_1 퇴장</span>
            <span class="total_time">시간</span>
            <span class="session_time">session_2 입장</span>
            <span class="session_time">session_2 퇴장</span>
            <span class="total_time">시간</span>
            <span class="session_time">session_3 입장</span>
            <span class="session_time">session_3 퇴장</span>
            <span class="total_time">시간</span>
            <span class="session_time">session_4 입장</span>
            <span class="session_time">session_4 퇴장</span>
            <span class="total_time">시간</span>
            <span class="session_time">session_5 입장</span>
            <span class="session_time">session_5 퇴장</span>
            <span class="total_time">시간</span>
            <span class="session_time">session_6 입장</span>
            <span class="session_time">session_6 퇴장</span>
            <span class="total_time">시간</span>
        </li>
    <li class="notice_list_item clearfix" id="list_data2_0">
        <span class="login_time"></span>
        <span class="logout_time"></span>
        <span class="logtotal_time" id="total_time2">0</span>
        <span class="session_time"></span>
        <span class="session_time"></span>
        <span class="total_time" id="session0_total_time2">0</span>
        <span class="session_time"></span><span class="session_time"></span>
        <span class="total_time" id="session1_total_time2">0</span>
        <span class="session_time"></span><span class="session_time">
        </span><span class="total_time" id="session2_total_time2">0</span>
        <span class="session_time"></span><span class="session_time">
        </span>
    </li>
</ul>
</div>
    <button id="csvDownloadButton">CSV 다운로드 받기</button>
</body>
<script type="text/javascript">
class ToCSV {
    constructor() {
        // CSV 버튼에 이벤트 등록
        document.querySelector('#csvDownloadButton').addEventListener('click', e => {
            e.preventDefault()
            this.getCSV('test('+(new Date().getFullYear()+'년'+new Date().getMonth()+'월'+new Date().getDate())+'일).csv')
        });
    }

    downloadCSV(csv, filename) {
        let csvFile;
        let downloadLink;

        // 한글 처리를 해주기 위해 BOM 추가하기
        const BOM = "\uFEFF";
        csv = BOM + csv;

        // CSV 파일을 위한 Blob 만들기
        csvFile = new Blob([csv], {type: "text/csv"});

        // Download link를 위한 a 엘리먼스 생성
        downloadLink = document.createElement("a");

        // 다운받을 csv 파일 이름 지정하기
        downloadLink.download = filename;

        // 위에서 만든 blob과 링크를 연결
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // 링크가 눈에 보일 필요는 없으니 숨겨줍시다.
        downloadLink.style.display = "none";

        // HTML 가장 아래 부분에 링크를 붙여줍시다.
        document.body.appendChild(downloadLink);

        // 클릭 이벤트를 발생시켜 실제로 브라우저가 '다운로드'하도록 만들어줍시다.
        downloadLink.click();
    }

    getCSV(filename) {
        // csv를 담기 위한 빈 Array를 만듭시다.
        const csv = []
        
        const rows_right2 = document.querySelectorAll("#mytable2_right li");

        for (let i = 0; i < rows_right2.length; i++) {
            const row = [], cols = rows_right2[i].querySelectorAll("span");
            
            for (let j = 0; j < cols.length; j++)
                row.push(cols[j].innerText);

            csv.push(row.join(","));
        }
        // Download CSV
        this.downloadCSV(csv.join("\n"), filename);
    }
}

document.addEventListener('DOMContentLoaded', e => {
    new ToCSV();
})
</script>
</html>
